<!DOCTYPE html>
</html>
  <head>
      <title>NodeJS tutorial</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <div class="page-header"><h2><%= pageTitle %></h2></div>
      <div class="page-container">