<!-- Header -->
<%- include('./layouts/header') %>
<!-- /Header -->

<ul>
  <ol><a class="btn btn-info" style="margin-top: 10px;" href="/user/list">List User</a></ol>
  <ol><a class="btn btn-success" style="margin-top: 10px;" href="/user/add">Add User</a></ol>
</ul>

<textarea rows="4" cols="50" class="text-area" id="text-area"></textarea><br>
<input type="text" class="chat-user" id="chat-user" placeholder="Enter Username"></input>
<input type="text" class="text-chat" id="text-chat" placeholder="Enter message"></input>
<input type="button" value="Send" class="send-chat" id="send-chat"></input>
<!-- Footer -->
<%- include('./layouts/footer') %>
<!-- /Footer -->