<!-- Header -->
<%- include('./layouts/header') %>
<!-- /Header -->

<ul>
  <ol><a class="btn btn-info" style="margin-top: 10px;" href="/user/list">List User</a></ol>
  <ol><a class="btn btn-success" style="margin-top: 10px;" href="/user/add">Add User</a></ol>
</ul>

<!-- Footer -->
<%- include('./layouts/footer') %>
<!-- /Footer -->